/* ==== MASTER ==== */

a, p {
  font-size: 20px;
}

body {
  min-width: 400px;
  min-height: 100vh;
  flex-direction: column;
}

/* ==== OBJETS ==== */

#logo {
  margin-top: 5px;
  height: 50px;
}

h3 {
  margin-bottom: 50px;
}

/* ==== MAIN ==== */

.top {
  margin: 0px;
  padding: 20px 40px 30px 40px;
}

.img_max {
  max-width: 300px;
  max-height: 500px;
  margin: 20px 40px;
}

/* ==== Film Focus ==== */

#film_focus_Avatar, #film_focus_Avicii, #film_focus_Avengers {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* ==== Wall Focus ==== */

.wall_avatar, .wall_avicii, .wall_avengers {
  background-position: center;
  background-size: cover;
}

.wall_avatar{
  background-image: url(../img/Avatar_Wall.jpg);
}

.wall_avicii{
  background-image: url(../img/avicii_wall.jpg);
}

.wall_avengers{
  background-image: url(../img/avengers_wall.jpg);
}

.img_max_more {
  max-width: 500px;
  max-height: 700px;
}

.top_3 {
  margin: 0px;
  height: auto;
  padding: 10px;
}



.actors {
  margin: 20px;
  height: 150px;
  width: 100px;
}

.regarder {
  margin: 20px;
}

.action {
  margin: 50px 0px;
  padding: 30px;
}

.navigation_style {
  margin: 0;
}
