#logo
{
	margin-top: 5px;
	height: 50px;
}

#form
{
	margin: 0px;
}


.parallax-container
{
	height: 250px;
}

/* ==== Input custom ==== */

.input-field label
{
	color: #ffff;
}

.input-field input + label
{
   color: #ffff;
}
