
body
{
	min-width: 400px;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main
{
	flex: 1 0 auto;
}

p
{
	color: white;
	font-size: 20px;
}

a
{
	font-size: 20px;
}

img
{
	display: block;
}

#logo
{
	margin-top: 5px;
	height: 50px;
}

#cree_compte
{
	height: auto;
	margin: 0px;
}

#button-cree
{
	margin: 50px;
}

.galery-parallax
{
	height: 800px;
}

.size-parallax
{
	height: 500px;
}

#sortie
{
	height: auto;
	padding: 20px 50px;
	margin: 0px;
}

#hq
{
	margin: 0px;
	height: 450px;
}

#haute_qualite
{
	height: auto;
	padding: 20px 50px;
	margin: 0px;
}

.acroche
{
	margin: 20px;
}
